[submodule "vendor/hl2sdk"]
	path = vendor/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk
	shallow = true
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
	shallow = true
